pkgbase = android-utils-git
	pkgdesc = Common commands one wants in Android.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.r8.g4cfcfbdd37ddfcc73d1e971e35604f3e6f2a8a3f
	pkgrel = 1
	url = https://github.com/themartiancompany/android-utils
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = bash
	provides = android-utils=0.0.0.0.0.0.0.0.0.0.0.0.0.1.r8.g4cfcfbdd37ddfcc73d1e971e35604f3e6f2a8a3f
	conflicts = android-utils
	source = android-utils.tar.gz::https://github.com/themartiancompany/android-utils/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = android-utils-git
